<component name="ArtifactManager">
  <artifact type="war" name="springMVC:Web">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC_Web</output-path>
    <root id="archive" name="springMVC_Web.war">
      <element id="artifact" artifact-name="springMVC:Web exploded" />
    </root>
  </artifact>
</component>